.dark-theme {
      ion-content {
        background-color: black;
        color: #fff;
      }

      ion-item{
        background-color: black;
        color: #fff;
      }
     
      .toolbar-title {
        color: #fff;
      }
     
      .header .toolbar-background {
        background-color: #090f2f;
      }
}  